<app-header></app-header>

<main>

  <section class="container">
    <mat-card class="background-color-gray width height border-style margin-top-card">
      <div>
        <mat-card-title class="text-style margin-top-title">Perfil</mat-card-title>
      </div>
      <!-- Início do formulário -->
      <form class="form-style form-flex" [formGroup]="form">
        <div>
          <mat-form-field class="input-width-100" appearance="fill">
            <mat-label>Nome</mat-label>
            <input type="text" matInput placeholder="Ex: João Cleber" formControlName="nome" name="nome" required>
            <mat-error>{{error}}</mat-error>
          </mat-form-field>
        </div>

        <div class="inputs-flex">
          <mat-form-field class="input-width-100" appearance="fill">
            <mat-label>Telefone</mat-label>
            <input type="text" matInput placeholder="Ex: (11) 9999-9999" formControlName="telefone" name="telefone"
              required>
            <mat-error>{{error}}</mat-error>
          </mat-form-field>
        </div>

        <div class="selected-flex">
          <mat-form-field appearance="fill" class="input-width-100">
            <mat-label>Email</mat-label>
            <span matPrefix>&nbsp;</span>
            <input type="email" matInput placeholder="Ex: email@email.com" formControlName="email" name="email"
              required>
            <mat-error>{{error}}</mat-error>
          </mat-form-field>

          <div class="container-button buttons-flex">
            <!-- Botão desabilitado enquanto não validar os campos -->
            <button mat-button class="button-style" type="submit" [disabled]="!form.valid"
              (click)="atualizarDados()">Atualizar</button>
            <!-- Caso não seja ADM, terá um botão extra para excluir o usuário -->
            <ng-container *ngIf="nomeUsuario===false">
              <button mat-raised-button class="button-card-style" (click)="removerUsuario(idUsuario)">Excluir
                Cadastro</button>
            </ng-container>
          </div>

        </div>
      </form>
    </mat-card>
  </section>

  <!-- Cards vistos somente pelo ADM -->
  <ng-container *ngIf="nomeUsuario===true">
    <section class="container">
      <div class="title second-section-margin">
        <h1 class="title-reservas-style">USUÁRIOS CADASTRADOS</h1>
        <div class="line"></div>
      </div>

      <!-- Cria um card para cada usuário pegando seus dados no DB -->
      <div class="card-flex-gap card-margin-top" *ngFor="let usuario of usuarios">
        <mat-card class="width card-flex card-border-style">
          <div class="title-card">
            <mat-card-title class="card-title-style" (click)="selecionarUsuario(usuario)">{{usuario.nome}}
            </mat-card-title>
          </div>

          <div class="title-subtitle-flex">
            <mat-card-subtitle class="card-subtitle-style card-dados-style">{{usuario.telefone}}</mat-card-subtitle>
          </div>
          <div>
            <mat-card-subtitle class="card-subtitle-style card-dados-style">{{usuario.email}}</mat-card-subtitle>
          </div>

          <div class="button-container">
            <button mat-button class="button-card-style margin-button" (click)="removerUsuario(usuario.id)">Excluir
              usuario</button>
          </div>
        </mat-card>
      </div>
    </section>
  </ng-container>
</main>
<app-footer></app-footer>
