<app-header></app-header>

<main class="container">
  <mat-card class="perfilCard">
    <mat-card-title>
      <h1 class="titulo">Perfil</h1>
    </mat-card-title>
    <form [formGroup]="form">
      <div class="divInput">
        <mat-form-field appearance="fill" class="input">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" name="nome">
        </mat-form-field>
        <mat-form-field appearance="fill" class="input">
          <mat-label>Telefone</mat-label>
          <input matInput formControlName="telefone" name="telefone">
        </mat-form-field>
        <mat-form-field appearance="fill" class="input">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" name="email">
        </mat-form-field>
      </div>
      <div class="divButton">
        <button mat-raised-button color="warn" class="botaoAtualizar">Atualizar</button>
      </div>
    </form>
  </mat-card>
  <div class="tituloCard">
    <h2>
      USUÁRIOS CADASTRADOS
    </h2>
    <hr>
  </div>
  <section class="sectionCard">
    <mat-card *ngFor="let i of usuarios" class="card">
      <div class="cardDiv1">
        <span class="cardNome">
          <h2>{{i.nome}}</h2>
        </span>
        <div>
          <span>{{i.telefone}}</span>
        </div>
      </div>
      <div class="cardDiv2">
        <span>{{i.email}}</span>
        <button mat-button class="cardButton" (click)="removerUsuario(i.id)">
          Excluir usuário
        </button>
      </div>
    </mat-card>
  </section>
</main>
