<form [formGroup]="form" class="form-style form-flex">
  <div>
    <mat-form-field class="input-width-100" appearance="fill">
      <mat-label>Nome do Carro</mat-label>
      <input type="text" formControlName="nomeCarro" matInput />
    </mat-form-field>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Tipo</mat-label>
    <mat-select formControlName="listaTipo" required>
      <mat-option *ngFor="let tipo of tiposCarros" [value]="tipo.id">{{
        tipo.nome
        }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="inputs-flex">
    <mat-form-field class="input-width-50" appearance="fill">
      <mat-label>Portas:</mat-label>
      <input type="number" formControlName="portas" required matInput />
    </mat-form-field>
    <mat-form-field class="input-width-50" appearance="fill">
      <mat-label>Nº de Pessoas:</mat-label>
      <input type="number" type="number" formControlName="numeroPessoas" required matInput />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill" class="input-width-100">
      <mat-label>Locadora</mat-label>
      <mat-select formControlName="selectLocadora" required>
        <mat-option *ngFor="let locadora of locadoras" [value]="locadora.id">{{
          locadora.nome
          }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="dialog-button-flex">
      <button mat-button class="btn-fechar" (click)="onNoClick()">Fechar</button>
      <button mat-button class="btn-salvar-alteracao" (click)="UpdateCarros()">Atualizar</button>
    </div>

  </div>
</form>
