<app-header></app-header>
<main>
  <mat-card class="loginCard">
    <mat-card-title>
      <h1 class="titulo">Login</h1>
    </mat-card-title>
    <form action="">
      <mat-form-field appearance="fill" class="input">
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill" class="input">
        <mat-label>Senha</mat-label>
        <input matInput>
      </mat-form-field>
      <div class="divButton">
        <button mat-raised-button color="warn" class="botaoLogin">Login</button>
        <button mat-raised-button color="warn" class="botaoLogin">Login</button>
      </div>
    </form>
    <div class="links">
      <a href="">Esqueci a Senha</a>
      <a mat-button routerLink="../cadastro">Não tenho Conta</a>
      <a routerLink="../cadastro">Criar conta</a>
    </div>
  </mat-card>
</main>