<app-header></app-header>
<main>
  <mat-card class="loginCard">
    <mat-card-title>
      <h1 class="titulo">Login</h1>
    </mat-card-title>
    <form [formGroup]="form" (ngSubmit)="realizarLogin()">
      <mat-form-field appearance="fill" class="input">
        <mat-label>Email</mat-label>
        <input matInput placeholder="exemplo@exemplo.com" formControlName="email" name="email" required>
        <mat-error *ngIf="form.get('email')?.hasError('required')">{{ error }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="input">
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="senha" name="senha" required>
        <mat-error *ngIf="form.get('senha')?.hasError('required')">{{ error }}</mat-error>
      </mat-form-field>
      <div class="divButton">
        <button mat-raised-button color="warn" class="botaoLogin" type="submit" [disabled]="!form.valid">Login</button>
        <div class="row mt-2">
          <a (click)="signInWithGoogle()" style="text-decoration: none;cursor: pointer;">
            <div class="card shadow text-center">
              <div class="card-body">
                <button mat-raised-button class="button-style-google">
                  <img src="../../../assets/img-teste/icons8-google-48.png" alt="" height="24px" width="24px"> Sign In
                  with Google
                </button>
              </div>
            </div>
          </a>
        </div>
      </div>
    </form>
    <div class="links">
      <a mat-button routerLink=",,/home">Esqueci a Senha</a>
      <a mat-button routerLink="../cadastro">Não tenho Conta</a>
    </div>
  </mat-card>
</main>

<div class="spinner" *ngIf="loading | async">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<app-footer></app-footer>