main {
  display: flex;
  justify-content: center;
}

form {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px
}

.titulo {
  margin-top: 40px;
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 40px;
}

.loginCard {
  width: 790px;
  height: 610px;
  border: 1px solid #9F9999;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.botaoLogin {
  background-color: #DB1812;
  width: 250px;
  height: 70px;
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 24px;
}

.button-style-google {
  width: 250px;
  height: 70px;
  background: #FFF;
  color: #DB1812;
  border: 2px solid #DB1812;
  border-radius: 5px;
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 1.2rem;
}

.input {
  width: 670px;
  height: 70px;
}

.divButton {
  display: flex;
  flex-direction: column;
  gap: 30px
}

.links {
  width: 250px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.links a {
  text-decoration: none;
}

:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #CAD0D3;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 10px;
  padding: 0.75em 0.75em 0 0.75em;
  height: 50px;
  background-color: #DCE0E2;
}