<app-header></app-header>

<main>
  <section class="container">
    <mat-card class="width height border-style margin-top-card">
      <div>
        <mat-card-title class="text-style margin-top-title">Carros</mat-card-title>
      </div>

      <form [formGroup]="form" (ngSubmit)="cadastrarCarros()" class="form-style form-flex">
        <div>
          <mat-form-field class="input-width-100" appearance="fill">
            <mat-label>Nome do Carro</mat-label>
            <mat-error>{{error}}</mat-error>
            <input type="text" formControlName="nomeCarro" matInput />
          </mat-form-field>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="listaTipo" required>
            <mat-option *ngFor="let tipo of tiposCarros" [value]="tipo">{{
              tipo.nome
              }}</mat-option>
            <mat-error>{{error}}</mat-error>
          </mat-select>
        </mat-form-field>

        <div class="inputs-flex">
          <mat-form-field class="input-width-30" appearance="fill">
            <mat-label>Portas:</mat-label>
            <input type="number" formControlName="portas" required matInput />
            <mat-error>{{error}}</mat-error>
          </mat-form-field>
          <mat-form-field class="input-width-30" appearance="fill">
            <mat-label>Nº de Pessoas:</mat-label>
            <input type="number" matInput type="number" formControlName="numeroPessoas" required />
            <mat-error>{{error}}</mat-error>
          </mat-form-field>
        </div>
        <div class="input-width-100">
          <mat-form-field appearance="fill" class="input-width-60">
            <mat-label>Locadora</mat-label>
            <mat-select formControlName="selectLocadora" required>
              <mat-option *ngFor="let locadora of locadoras" [value]="locadora">{{
                locadora.nome
                }}</mat-option>
              <mat-error>{{error}}</mat-error>
            </mat-select>
          </mat-form-field>
          <button mat-button class="button-style margin-15" [disabled]="!form.valid">Cadastrar</button>
        </div>
      </form>
    </mat-card>
  </section>
  <div *ngFor="let tipo of  tiposCarros">
    <mat-card-title class="container padding toUppercase">{{tipo.nome}}</mat-card-title>
    <hr class="container hr">

    <section class="container padding container-horizontal">
      <ng-container *ngFor="let carro of carros,let i = index">
        <div *ngIf="carro.tipoCarroId == tipo.id">

          <mat-card class="section-card flex-carousel">
            <img src="../../assets/img-teste/car1.png">

            <div class="container-text">
              <mat-card-title>{{carro.nome}}</mat-card-title>
              <mat-card-subtitle class="paragrafo-card">
                Faça a sua reserva e garanta a locação do automóvel.
              </mat-card-subtitle>
            </div>

            <mat-card-actions class="container-button">
              <ng-container *ngIf="nomeUsuario===false">
                <button mat-button class="btn-cadastrar" (click)="openDialogDetalhes(carro)">Detalhes</button>
              </ng-container>
              <ng-container *ngIf="nomeUsuario===true">
                <button mat-button class="btn-cadastrar" (click)="openDialog(carro.id, '0ms', '0ms')">Editar</button>
                <button mat-button class="btn-excluir" (click)="deletarCarro(carro.id)">Excluir</button>
              </ng-container>
            </mat-card-actions>

          </mat-card>
        </div>
      </ng-container>
    </section>
  </div>
</main>

<app-footer></app-footer>