.height {
  height: 650px;
}

.second-section-margin {
  margin-top: 115px;
}

.title-reservas-style {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2.5rem;
  color: #040404;
}

.line {
  width: 60%;
  height: 0px;
  border: 1px solid #000000;
}

.cards-margin-top {
  margin-top: 44px;
}

.card-flex {
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

.img-card {
  width: 350px;
  height: 198.22px;
}

.cards-info-flex {
  display: flex;
  gap: 74px;
}

.border-card-style {
  border-radius: 10px;
  border: 1px solid #c6c4c4;
}

.title-subtitle-flex {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.margin-top {
  margin-top: 21px;
}

.margin-bottom {
  margin-bottom: 19px;
}

.card-title-style {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
  color: #000000;
}

.card-subtitle-style {
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 1.25rem;
}

.button-container {
  align-self: flex-end;
}

/* .button-card-style {
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 1.5rem;
  color: #db1812;
  width: 250px;
  height: 70px;
  border: 2px solid #db1812;
  border-radius: 5px;
} */

.margin-buttom {
  margin-bottom: 40px;
  margin-right: 18px;
}

.select-locadora {
  width: 583px;
  padding-right: 80px;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 10px;
  padding: 0.75em 0.75em 0 0.75em;
  height: 70px;
  background-color: #DCE0E2;
}
.section-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0%;
  width: 352px;
  height: 600px;
}
.padding{
  padding-top: 2%;
}
.container-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  margin-bottom: 20px!important;
}
.btn-cadastrar{
  width: 250px;
  height: 75px;
  background-color: #DB1812;
  color: #FFFFFF;
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.btn-excluir{
  width: 250px;
  height: 75px;
  background-color: #FFFFFF;
  color: #DB1812;
  border: #DB1812 solid 1px;
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

}
.hr{
  width: 100px;
  text-align: right;
  margin-left: 150px;
}
.container-text{
  display: flex;
  flex-direction:column;
  align-items: center;
  margin-top: -35px;
}

.container-horizontal{
  display: flex;
  gap: 70px;
}

.margin-15{
  margin-left: 15%;
}
.toUppercase{
  text-transform: uppercase;
}
.paragrafo-card{
  margin: 0% 20% 0% 20%;
  font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #040404;
padding-top:2% ;
}
