.height {
  height: 590px;
}

.second-section-margin {
  margin-top: 115px;
}

.title-reservas-style {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2.5rem;
  color: #040404;
}

.line {
  width: 60%;
  height: 0px;
  border: 1px solid #000000;
}

.cards-margin-top {
  margin-top: 44px;
}

.card-flex {
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

.img-card {
  width: 350px;
  height: 198.22px;
}

.cards-info-flex {
  display: flex;
  gap: 74px;
}

.border-card-style {
  border-radius: 10px;
  border: 1px solid #c6c4c4;
}

.title-subtitle-flex {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.margin-top {
  margin-top: 21px;
}

.margin-bottom {
  margin-bottom: 19px;
}

.card-title-style {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
  color: #000000;
}

.card-subtitle-style {
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 1.25rem;
}

.button-container {
  align-self: flex-end;
}

.button-card-style {
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 1.5rem;
  color: #db1812;
  width: 250px;
  height: 70px;
  border: 2px solid #db1812;
  border-radius: 5px;
}

.margin-buttom {
  margin-bottom: 40px;
  margin-right: 18px;
}

.select-locadora {
  width: 583px;
  padding-right: 80px;
}