<app-header></app-header>
<main>
  <section class="container">
    <mat-card class="background-color-gray width height border-style margin-top-card">

      <div>
        <mat-card-title class="text-style margin-top-title">Reservas</mat-card-title>
      </div>

      <form [formGroup]="form" (ngSubmit)="cadastrarReservas()" class="form-style form-flex">
        <div>
          <mat-form-field appearance="fill" class="input-width-100">
            <mat-label>Carro</mat-label>
            <mat-select formControlName="carroId">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let carro of carros" [value]="carro">{{carro.nome}}</mat-option>
            </mat-select>
            <mat-error>{{error}}</mat-error>
          </mat-form-field>
        </div>

        <div class="inputs-flex">
          <mat-form-field class="input-width-30" appearance="fill">
            <mat-label>Data Reserva</mat-label>
            <input type="date" formControlName="data" matInput>
            <mat-error>{{error}}</mat-error>
          </mat-form-field>
          <mat-form-field class="input-width-30" appearance="fill">
            <mat-label>Horário da reserva:</mat-label>
            <input type="time" formControlName="horario" matInput>
            <mat-error>{{error}}</mat-error>
          </mat-form-field>
          <mat-form-field class="input-width-30" appearance="fill">
            <mat-label>Data de devolução:</mat-label>
            <input type="date" formControlName="dataEntrega" matInput>
            <mat-error>{{error}}</mat-error>
          </mat-form-field>
        </div>

        <div class="selected-flex">
          <mat-form-field appearance="fill" class="input-width-60">
            <mat-label>Locadora</mat-label>
            <mat-select formControlName="filial">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let locadora of locadoras" value="{{locadora.nome}}">{{locadora.nome}}</mat-option>
            </mat-select>
            <mat-error>{{error}}</mat-error>
          </mat-form-field>

          <button mat-button type="submit" [disabled]="!form.valid" class="button-style">Atualizar</button>
        </div>
      </form>
    </mat-card>
  </section>

  <section class="container">
    <div class="title second-section-margin">
      <h1 class="title-reservas-style">RESERVAS CADASTRADAS</h1>
      <div class="line"></div>
    </div>

    <div class="cards-margin-top card-flex-gap">
      <mat-card *ngFor="let reserva of reservas" class="width border-card-style card-flex">
        <mat-card-title-group>
          <div class="cards-info-flex">
            <div class="img-container">
              <img class="img-card" mat-card-sm-image src="assets/img-teste/car1.png" height="198.22px" width="350px">
            </div>
            <div class="title-subtitle-flex margin-top margin-bottom">
              <div class="title-card">
                <mat-card-title class="card-title-style">{{reserva.carroId}}</mat-card-title>
              </div>

              <div>
                <mat-card-subtitle class="card-subtitle-style">Data retirada: {{reserva.data}}</mat-card-subtitle>
                <mat-card-subtitle class="card-subtitle-style">Horário retirada: {{reserva.horario}}</mat-card-subtitle>
                <mat-card-subtitle class="card-subtitle-style">Data de devolução: {{reserva.dataentrega}}
                </mat-card-subtitle>
              </div>
            </div>
          </div>
        </mat-card-title-group>
        <div class="button-container">
          <button (click)="deletarReserva(reserva.id)" mat-button class="button-card-style margin-buttom">Excluir
            Reservas</button>
        </div>
      </mat-card>
    </div>
  </section>
</main>


<app-footer></app-footer>