.header-margin-top {
  margin-top: 66px;
}

.header-flex {
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 222px;
  height: 132px;
  cursor: pointer;
}

.header-font-style {
  font-family: 'Quicksand';
  font-size: 1.5rem;
  font-weight: 400;
}

.display-flex-center {
  display: flex;
  justify-content: center;
  margin-bottom: 81px;
}

.locadora-display-visible {
  visibility: visible;
}

.locadora-display-hidden {
  visibility: hidden;
  display: block;
}