<div id="containerFooter">

  <div id="links">
    <p><a class="links" href="https://www.brq.com/politica-privacidade/">
      Política de Segurança</a></p>
    <p><a class="links" href="https://www.brq.com/carreira/">Trabalhe Conosco</a>
    <p><a class="links" href="https://www.procon.sp.gov.br">PROCON</a></p>
  </div>

  <div id="contato">
    <p>31 99999 9666 - contato@divinafashion.com</p>
    <br>
    <p>Av. Principal, 123 .BH/MG</p>
  </div>

  <div class="linhaRodape"></div>

  <div id="logos">
    <a href="https://www.instagram.com/brqdigital/">
      <img class="imagemRodape" src="../../../assets/img-teste/instagram_1.png">
    </a>
    <a href="https://www.facebook.com/brqdigital/">
      <img class="imagemRodape" src="../../assets/img-teste/facebook_1.png">
    </a>
    <a href="https://twitter.com/brqdigital">
      <img class="imagemRodape" src="../../assets/img-teste/twitter_1.png">
    </a>
    <p class="p3">Todos os direitos reservados</p>
  </div>

</div>
