<div id="containerFooter">

  <div id="links">
    <p class="links"><a href="">Política de Segurança</a></p>
    <p class="links"><a href="">Trabalhe Conosco</a>
    <p class="links"><a href="">PROCON</a></p>
  </div>

  <div id="contato">
    <p>31 99999 9666 - contato@divinafashion.com</p>
    <br>
    <p>Av. Principal, 123 .BG/MG</p>
  </div>

  <div class="linhaRodape"></div>

  <div id="logos">
    <img class= "imagemRodape" src="../../../assets/img-teste/instagram_1.png">
    <img class= "imagemRodape" src="../../assets/img-teste/facebook_1.png">
    <img class= "imagemRodape" src="../../assets/img-teste/twitter_1.png">
    <p class="p3">Todos os direitos reservados</p>
  </div>

</div>
