/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Quicksand:wght@400;700&display=swap');

html,
body {
  height: 100%;
  background: #FFF;
}

ul li {
  list-style: none;

}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  padding-left: 150px;
  padding-right: 150px;
}

html,
body {
  height: 100%;
}

.width {
  width: 100%;
}

.border-style {
  border-radius: 4px;
  border: 1px solid #9F9999;
}

.margin-top-card {
  margin-top: 96px;
}

.margin-top-title {
  margin-top: 36px;
}

.text-style {
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Quicksand';
  font-weight: 700;
}

.form-flex {
  display: flex;
  flex-direction: column;
  gap: 58px;
}

.inputs-flex {
  display: flex;
  gap: 15px;
}

.input-width-100 {
  width: 100%;
}

.input-width-30 {
  width: 33%;
}

.input-width-60 {
  width: 60%;
  height: 70px;
}

.selected-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-style {
  width: 250px;
  height: 70px;
  background: #DB1812;
  color: #FFF;
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 1.2rem;
}

.card-flex-gap {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-style {
  margin: 46px 60px 70px 69px;
}