<app-header></app-header>
<main>
  <mat-card class="cadastroCard">
    <mat-card-title>
      <h1 class="titulo">Cadastrar</h1>
    </mat-card-title>
    <!-- Início do formulário -->
    <form [formGroup]="form" (ngSubmit)="cadastrarUsuario()">

      <mat-form-field appearance="fill" class="input">
        <mat-label>Nome Completo</mat-label>
        <input formControlName="nome" name="nome" matInput required>
        <mat-error>{{error}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input">
        <mat-label>Telefone</mat-label>
        <input formControlName="tel" name="tel" matInput required>
        <mat-error>{{error}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="exemplo@exemplo.com" formControlName="email" name="email" required>
        <!-- Validação do email -->
        <mat-error *ngIf="form.get('email')?.hasError('required') || form.get('email')?.hasError('email')">
          {{validaEmail()}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input">
        <mat-label>Senha</mat-label>
        <input type="password" formControlName="senha" name="senha" matInput (keyup)="validaSenhas()" required>
        <mat-error>{{error}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input">
        <mat-label>Confirmar Senha</mat-label>
        <input type="password" formControlName="confirmacaoSenha" name="confirmacaoSenha" matInput
          (keyup)="validaSenhas()" required>
          <!-- Validação da senha -->
        <mat-error *ngIf="form.get('confirmacaoSenha')?.hasError('camposDivergentes')">{{validaSenhas()}}>{{error}}
        </mat-error>
      </mat-form-field>
      <!-- Botão desabilitado enquanto não validar os campos -->
      <button type="submit" mat-raised-button color="warn" class="botaoCadastrar"
        [disabled]="!form.valid">Cadastrar</button>
    </form>
    <div class="links">
      <a mat-button routerLink="../login">Já sou Cadastrado</a>
    </div>
  </mat-card>
</main>

<!-- Spinner durante o carregamento -->
<div class="spinner" *ngIf="loading | async">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<app-footer></app-footer>
