<app-header></app-header>
<main>
  <mat-card class="cadastroCard">
    <mat-card-title>
      <h1 class="titulo">Cadastrar</h1>
    </mat-card-title>
    <form action="">
      <mat-form-field appearance="fill" class="input">
        <mat-label>Nome Completo</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill" class="input">
        <mat-label>Telefone</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill" class="input">
        <mat-label>E-mail</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill" class="input">
        <mat-label>Senha</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill" class="input">
        <mat-label>Confirmar Senha</mat-label>
        <input matInput>
      </mat-form-field>
      <button mat-raised-button color="warn" class="botaoCadastrar">Cadastrar</button>
    </form>
    <div class="links">
      <a mat-button routerLink="../login">Já sou Cadastrado</a>
      <a routerLink="../login">Já sou Cadastrado</a>
    </div>
  </mat-card>
</main>