<form [formGroup]="form" class="form-style form-flex">
  <img src="../../assets/img-teste/car1.png" alt="car1">
  <div class="mat-typography">
    <div>
      <h2 mat-dialog-title formControlName="nomeCarro" appearance="fill"><b>{{this.data.nome}}</b></h2>
    </div>
    <div>
      <div class="tag">
        <div class="tags">
          <h3 formControlName="portas" required appearance="fill">{{this.data.portas}} Portas</h3>
        </div>
        <div class="tags">
          <h3 formControlName="airbag" required appearance="fill">Airbag</h3>
        </div>
        <div class="tags">
          <h3 formControlName="numeroPessoas" required appearance="fill">{{this.data.npessoas}} pessoas</h3>
        </div>
        <div class="tags">
          <mat-form-field appearance="fill" class="input-width-100">
            <mat-label>Locadora</mat-label>
            <mat-select formControlName="selectLocadora" required>
              <mat-option *ngFor="let locadora of locadoras" [value]="locadora.id">{{locadora.nome}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="button-position">
      <button class="botao" mat-button (click)="reservar()">Reservar</button>
    </div>
  </div>
</form>