* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Quicksand';
}

.conteudo {
  width: 1140px;
  margin: 0 auto;
}

.banner-flex {
  width: 1140px;
  height: 688px;

}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: #040404;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  color: black;
}

.titulo {
  display: flex;
  justify-content: center;
  padding-top: 59px;
}

.card {
  display: flex;
  justify-content: space-between;
  margin-top: 59px;
}

.card1 {
  border: 1px solid #C6C4C4;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 310px;
  height: 400px;
}

.cardTitulo {
  font-weight: 400;
  text-align: center;
  margin-top: 19px;
  font-size: 24px bold;
  line-height: 30px;
  color: black;
}

.cardParagrafo {
  margin-top: 35px;
  font-weight: 400px;
  line-height: 30px;
  text-align: center;
  font-size: 24px;
  color: #040404;
}

.banner-flex {
  display: flex;
  justify-content: flex-end;
}

.logo-absolute {
  position: absolute;
}

#button-absolute {
  display: flex;
  position: absolute;
  align-self: flex-end;
  padding-right: 301px;
  padding-bottom: 45px;
  gap: 45px;
}

.button-position {
  text-align: center;
}

.botao {
  align-items: center;
  width: 250px;
  height: 70px;
  font-size: 24px;
  font-weight: 700px;
  line-height: 30px;
  color: white;
  background: #DB1812;
  border-radius: 5px;
  border: 1px solid #DB1812;
  cursor: pointer;
}